.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fafafa;

}

.about-text {
  flex-direction: column;
  margin-left: 15.1vw;
  /* width: 36rem; */
}
.main-title {
  font-family: HelveticaNeue;
  font-size: 1.875rem;
}
.main-pargraph {
  font-family: HelveticaNeue;
  font-size: 1.375rem;
}

.about-logo {
  margin-left: 13vw;
  margin-right: 16vw;
}

.download-btns {
  display: flex;
  flex-direction: row;
  margin-top: 1.6vh;
}

.google-download {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 1.5vw;
}

.apple-download {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.download-text {
  display: flex;
  flex-direction: column;
  font-family: HelveticaNeue;
  margin-left: 0.5vw;
}
.download-text h2 {
  font-size: 0.9rem;
}

.download-text h1 {
  letter-spacing: 1.29px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 450px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    margin-left: 0;
    width: 36rem;
  }
  .about-logo :nth-child(3) {
      order: 2;
    margin-left: 13vw;
    margin-right: 16vw;
  }
}
