
.hero-container{
    display: flex;
    justify-content: center;
    /* background-image: url("../../../public/images/hero1.png"); */
}
.hero-content {
    width: 21rem;
    height: 8rem;
    padding: 18px 33px 22px;
    background-color: rgba(255, 255, 255, 0.88);
    text-align: center;
}
.search-container-hero {
    margin-top: 1vw;
}
.input-text {
    flex: 1;
    border: none;
    margin-left: 1vw;

}